body {
	padding: 0;
	margin: 0;
	/* width: 100vw;
  height: 100vh; */
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.Sidebar {
	width: 200px;
	background: #354052;
	height: 100%;
	z-index: 1;
}

.SidebarList {
	width: 100%;
	padding: 0;
}

/* .nav-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
.SidebarList .nav-item {
	border: 1px solid black;

	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sidebar .nav-link {
	width: 100%;
	display: inline-block;
	justify-content: center;
}
.nav-item a {
	width: 80%;
}
.nav-item #icon {
	flex: 0%;
	display: inline-block;
	padding: auto;
	justify-content: start;
	align-items: center;
}
.nav-item #title {
	flex: 70%;
	display: grid;
	justify-content: center;
	align-items: center;
}

.nav-link:hover {
	background-color: #0080ff;
	width: 100%;
	display: flex;
	justify-content: center;
}

.sidebar .active {
	background-color: #343a40;
}
/* .sidebar.is-open {
  margin-left: 0;
  transition: .5s;
} */

/* 
.sidebar-header {
  background: #313b4c;
  color: #adb5bd;
}

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show, 
.collapsing {
  background: #313b4c;
}

.nav-item {
  /*color: #ced4da;
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.open {
  color: #e9ecef;
  background: #313b4c;
}

.nav-item.active {
  color: #e9ecef;
  background: #2d3646 !important;
}
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.home,
.reports,
.products {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	background-color: #000;
	color: #fff;
}

/* Navbar CSS */
.navbar {
	background-color: #ffffff;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* width: 35%; */
	position: absolute;
	background-color: #fff;
	padding-right: 2rem;
}

.menu-bars {
	margin-left: 2rem;
	font-size: 2rem;
	background: none;
	color: #000;
}

.nav-menu {
	background-color: #ffffff;
	width: 0%;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: -100%;
	transition: 850ms;
	-webkit-transition: 850ms;
	-moz-transition: 850ms;
	-ms-transition: 850ms;
	-o-transition: 850ms;
}

.nav-menu.active {
	left: 0;
	transition: 450ms;
	width: 100%;
}

.nav-text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0px 8px 16px;
	list-style: none;
	height: 60px;
}

.nav-text a {
	text-decoration: none;
	color: #151414;
	font-size: 18px;
	width: 95%;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.nav-text a:hover {
	background-color: #000000;
	color: #fff;
}

.nav-menu-items {
	width: 100%;
	padding-left: 0;
}

.navbar-toggle {
	background-color: #ffffff;
	width: 25%;
	height: 80px;
	display: grid;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}
.navbar-toggle .active {
	background-color: #343a40;
}

span {
	margin-left: 16px;
}

@media screen and (min-width: 798px) {
	.nav-menu {
		width: 25%;
	}
	.nav-text {
		width: 25%;
	}
}

@media screen and (min-width: 1198px) {
	.nav-menu {
		width: 16.5%;
	}
	.navbar-toggle {
		width: 16.5%;
	}
	.nav-text {
		width: 16.5%;
	}
}
@media screen and (min-width: 1200px) {
	.nav-menu {
		width: 16.5%;
	}
	.navbar-toggle {
		width: 16.5%;
	}
}

@media screen and (max-width: 768px) {
	#responsiveTablet {
		flex-direction: column;
		margin: 0;
		padding: 0;
	}

	.navbar {
		align-items: center;
		display: flex;
		justify-content: end;
	}
	/* .nav-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		top: -100%;
		left: 0;
		position: fixed;

		transition: 850ms;
		-webkit-transition: 850ms;
		-moz-transition: 850ms;
		-ms-transition: 850ms;
		-o-transition: 850ms;
	} */
	.nav-menu-items {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: -9999;
		background-color: #fff;
	}

	.menu-bars {
		margin-right: 2rem;
		margin-left: 0rem;
		font-size: 2rem;
		background: none;
		color: #000;
	}
	.navbar-toggle {
		padding-right: 0;
		display: flex;
		align-items: center;
		justify-content: end;
	}
	.navbar-toggle .menu-bars {
		margin-right: 1rem;
	}
	.nav-menu.active {
		top: 0;
		transition: 450ms;
		-webkit-transition: 450ms;
		-moz-transition: 450ms;
		-ms-transition: 450ms;
		-o-transition: 450ms;
	}
}

.sidebar{
  width: 100%;
  flex-shrink: 0;
  background-color: rgb(73, 73, 73);
  height: 100%;
  overflow: auto;
}


.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-title{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}
